@{
    ViewData["Title"] = "Not Found";
}

<div class="row">
    <div class="col-md-6 offset-3">
        <h1 class="text-info"><b>402</b> THE PAGE WAS NOT FOUND </h1>
        <hr />
        <a class="btn btn-outline-success" asp-controller="Products" asp-action="Index">Go to Home Page</a>
    </div>
</div>
